*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: gotham 'Times New Roman', Times, serif;
  font-variant: normal;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 0.1;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: rgb(234, 245, 238);
}

body {
  padding: 0%;
  margin: 0%;
  background: linear-gradient(to right, rgb(43, 226, 198), rgb(28, 88, 71));
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px white;
  outline: none;
  background-color: rgba(242, 244, 244, 0.75);
}

.calculator-grid>button:hover {
  background-color: #fff7f7;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(55, 207, 197);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;

}

.output .current-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 2.5rem;

}